<section class="real-state">
  <img src="./assets/contacto.png" class="banner" alt="">
  <div class="container-fluid my-5 px-5">
    <div class="row">
      <div class="col-3">hola</div>
      <div class="col-9">
        <div class="row property mat-elevation-z8" *ngFor="let item of iterator">
          <div class="col-4 p-0">
            <img src="./assets/home-banner-1.png" class="property-image" alt="">
          </div>
          <div class="col-8">
            <div class="property-header">
              <div>
                <h1 class="m-0 font-weight-bold">Carabobo - Venezuela</h1>
                <h3 class="text-black-50">Torre Residencial las Delicias,</h3>
              </div>
              <div>
                <span class="ref">REF 21000</span>
              </div>
            </div>
            <div class="property-content">
              <div class="labels">
                <span>Apartamento</span>
                <span>Venta</span>
              </div>
              <div class="text">
                FOCUS INMUEBLES, Tiene en Venta este Cómodo Apartamento ubicado en RESIDENCIAS TORRES LAS DELICIAS, LOS
                GUAYOS, CARABOBO, es una excelente oportunidad de inversión. facil acceso a la Autopista Regional del
                Centro y a las principales vías de la ciudad de Valencia, San Diego, Los Guayos. El apartamento posee
                01 habitación principal con baño, 02 habitaciones y 01 baño auxiliar con su paraducha, moderna cocina
                empotrada en madera con tope de granito, piso de cerámica, ventanas panorámicas con sus rejas
                protectoras
                , puerta de seguridad, 1p/e. El edificio posee caney con parrillera para el disfrute de su familia.
                No pierda la oportunidad de invertir en la comodidad y seguridad para su familia. Visítalo cuando
                quiera, llame ya a su asesor inmobiliario que con gusto le atenderá. Ingrese a nuestra página web
                www.focusinmuebles.com, donde usted encontrará muchas opciones de su interés.
                El precio de este inmueble y sus modificaciones son establecidas por su propietario.
              </div>
            </div>
            <div class="property-footer">
              <div class="d-flex align-items-center">
                <mat-icon> local_hotel</mat-icon>
                <span> 3 Hab</span>
              </div>
              <div class="d-flex align-items-center">
                <mat-icon> directions_car</mat-icon>
                <span>1</span>
              </div>
              <div class="d-flex align-items-center">
                <mat-icon>hot_tub</mat-icon>
                <span>2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
