<main>
  <div class="container search-bar">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <div class="gray-box">
        <div class="d-flex ">
          <p class="type">Alquilar</p>
          <p class="type">Comprar</p>
        </div>

        <div class="d-flex">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-custom search-select" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
          </div>
          <input type="text" class="search-input">
          <button class="btn btn-custom search-button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <h1 class="cursive">Focus Inmuebles... <span>De punta a punta</span></h1>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-12 my-3">
        <h1 class="feature-title">Lo que buscas te encuentra</h1>
      </div>
      <div class="col-4 feature feature-border">
        <h4 class="feature-text">Equipo Actual</h4>
      </div>
      <div class="col-4 feature feature-border">
        <h4 class="feature-text">Destacados</h4>
      </div>
      <div class="col-4 feature">
        <h4 class="feature-text">Confianos tu Inmueble</h4>
      </div>
    </div>
  </div>
  <div class="footer container">
    <div class="row">
      <div class="col-4">
        <img src="./assets/logo-2.png" alt="">
      </div>
      <div class="col-8 text-center font-weight-bold">
        <p>Inmobiliaria Focus Edificio CENTRO A-1, Piso 4, Oficina Nro 4-4| Carabobo (Valencia)</p>
        <p>+58 (414) 4329-412</p>
        <p>Contactar | Aviso Legal | Panel</p>
      </div>
      <div class="col-12 mt-5">
        <p>© 2020 Luar Agency -</p>
      </div>
    </div>
  </div>
</main>
