main {
  background-image: url("../../../../assets/home-banner-1.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

::ng-deep .mat-form-field-flex {
  background-color: white;
}

::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.gray-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin: 8rem 0;
  background-color: rgba(72,69,64,.5);
  border-radius: 2em;
}

.type {
  margin: 1rem;
  color: white;
  &:hover {
    color: #750E2F;
    cursor: pointer;
  }
}


.search-input {
  width: 40rem;
}

.search-button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-select {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 9px;
}

.btn-custom {
  background-color: #750E2F;
  color: white;
  &:focus, &:active, &:hover {
    color: #fff;
    background-color: #750E2F;
    border-color: brown;
    -webkit-box-shadow: 0px 0px 10px 1px #750E2F;
    box-shadow: 0px 0px 10px 1px #750E2F;
  }
}

.cursive {
  font-size: 40px;
  font-weight: 500;
  -webkit-text-stroke: 0.1px white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  & span {
    --font-family: 'millenia';
    -webkit-text-stroke: 0.1px white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}

.feature {
  padding: 2rem;
  margin: 2rem 0;
  &:hover {
    cursor: pointer;
    & > h4 {
      transition: font-size .5s ease;
      font-size: 25px;
    }
  }
}

.feature-border {
  border-right: 3px solid #750E2F;
}

.feature-title {
  font-size: 32px;
}

.feature-text {
  font-size: 21px;
  font-weight: bold;
}

.footer {
  padding: 3rem;
  margin-top: 5rem;
}

