<section class="bio-security">
  <img src="./assets/social-security-banner.png" class="banner" alt="">
  <div class="container-fluid my-5">
    <div class="row mb-5">
      <div class="col-6">
        <h4 class="title">
          Hemos establecido el protocolo de bioseguridad a seguir dentro de las instalaciones físicas de todos los
          inmuebles que conforman nuestro inventario, en concordancia con las directrices emitidas por la Organización
          Mundial de la Salud.
        </h4>
        <p>
          1.-Toda persona ingrese al inmueble y durante su permanencia en el, mantendrá siempre el tapaboca de forma
          correcta sobre boca y nariz.
        </p>
        <p>
          2.-Cada vez que una persona ingrese a un inmueble se le aplicará gel antibacterial en manos.
        </p>
        <p>
          3.-La cantidad máxima de visitantes al inmueble será de 2 personas, acompañados por un solo asesor
          inmobiliario perteneciente al satff de la empresa.
        </p>
        <p>
          4.-Durante el recorrido de la demostración del inmueble, se evitara entrar en contacto con Superficies, la
          apertura de puertas de cocinas y closets será por parte del responsable del equipo quien dispondrá de guantes.
        </p>
      </div>
      <div class="col-6">
        <img src="./assets/desinfeccion.png" class="desinfection" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="./assets/mask.jpg" class="desinfection" alt="">
      </div>
      <div class="col-6">
        <h4 class="title">
          Hemos establecido el protocolo de bioseguridad a seguir dentro de las instalaciones físicas de nuestra
          oficina, en concordancia con las directrices emitidas por la Organización Mundial de la Salud.
        </h4>
        <p><b>Se tendrán en cuenta los siguientes aspectos:</b></p>
        <p>
          1.- En la recepción del edificio, por cuenta de la administración, se tomará la temperatura a todas las
          personas que ingresen. Quien registre una temperatura de 38°C o más, no podrá ingresar y quedará registrada
          la correspondiente novedad.
        </p>
        <p>
          2.-Toda persona ingrese a la oficina y durante su permanencia en ella, mantendrá siempre el tapaboca
          de forma correcta sobre boca y nariz.
        </p>
        <p>
          3.-Cada vez que una persona ingrese a la oficina, se le aplicará gel antibacterial en manos y limpiara
          las suelas de sus zapatos en alfombra con antibacterial.
        </p>
        <p>
          3.-Cada persona será responsable de la desinfección frecuente de su puesto de trabajo. Esto incluye:
          desinfección de superficies de uso constante, como son los escritorios, computadores, teclados, cerraduras,
          citófono y demás elementos locativos. Cada vez que una persona ingrese a la oficina o a un inmueble se le
          aplicará gel antibacterial en manos y limpiara las suelas de sus zapatos en alfombra con antibacterial.
        </p>
        <p>
          4.- La distancia entre puestos de trabajo mantendrán mínimo un metro de distancia.
        </p>
        <p>
          5.-Para los actos de firmas o mesas de negociación, estos deben notificarse para evitar las coincidencias
          del máximo permitido que es de 6 personas , si el grupo de firmantes es mayor, deberá permitirse el acceso
          por partes.
        </p>
      </div>
    </div>
  </div>
  <h1 class="feature-title">
    Todo comienza con un sueño y Focus te lo hace realidad.
  </h1>
  <div class="footer container">
    <div class="row">
      <div class="col-4">
        <img src="./assets/logo-2.png" alt="">
      </div>
      <div class="col-8 text-center font-weight-bold">
        <p>Inmobiliaria Focus Edificio CENTRO A-1, Piso 4, Oficina Nro 4-4| Carabobo (Valencia)</p>
        <p>+58 (414) 4329-412</p>
        <p>Contactar | Aviso Legal | Panel</p>
      </div>
      <div class="col-12 mt-5">
        <p>© 2020 Luar Agency -</p>
      </div>
    </div>
  </div>
</section>
