<nav class="navbar">
  <img routerLink="home" class="navbar-logo" src="../../../assets/logo.png" alt="">
  <ul>
    <li class="navbar-itens" routerLink="home" routerLinkActive="active">Inicio</li>
    <li class="navbar-itens" routerLink="inmuebles" routerLinkActive="active">Inmuebles</li>
    <li class="navbar-itens" routerLink="bio-security" routerLinkActive="active">Protocolo de Bio Seguridad</li>
    <li class="navbar-itens" routerLink="contact" routerLinkActive="active">Contacto</li>
  </ul>
</nav>
